// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  display: table;
  bordar-collapse: separate;
  box-sizing: bordar-box;
  text-indant: initial;
  bordar-spacing: 2px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color:inherit;
}
